<script src='/js/chatArea.js'></script>
<link rel="stylesheet" href="/css/chatArea.css">
<div class="padding">
    <div class="chat-container">
        <div class="chat-display" id="chat-display"></div>
        <div class="chat-textfield">
            <form action="/chat-area/message" method="POST">
                <input type="text" class="text"id="msg-box" name="msgBox" onkeydown="msgHandaler(event)"/>
                <input type="submit" class="submit" value="Send"/>
            </form>
        </div>
    </div>
</div>